/*body 
{ 
    margin: 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif !important;
    color: #444 !important;
    background-color: #DEDEDE !important;
    background-image: url('../../../../index.php?entryPoint=getImage&themeName=Sugar&imageName=background.png') !important;
    background-repeat: no-repeat !important;
}  */
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
input[type="text"],
input[type="password"]{
    font-size: 12px;
    padding: 2px 4px 3px 4px;
    border-radius: 3px;
    margin: 3px auto;
}

input:focus {
    box-shadow: 0 0 5px #ccf;
    outline:none;
    border-color: #F7850F;
}

button,input[type="button"] {
	padding: 3px 4px 3px 4px;
	border-radius: 2px;
}

textarea {
    font-size: 12px;
    padding: 2px 4px 3px 4px;
    border-radius: 3px;
    margin: 3px auto;
}

textarea:focus {
    box-shadow: 0 0 5px #ccf;
    outline:none;
}

.headerList
{
    padding: 5px 0 3px 10px;
    vertical-align: middle;
    height: 20px !important;
    font-size: 12px;
}

/*.headerList  a:hover
{
  text-transform: uppercase;
  text-shadow: transparent;  
  font-weight: bold;
    
}*/

/*.moduleList a:hover{
    text-transform: uppercase;
    text-shadow: transparent;  
    font-weight: bold; 
}*/

div.moduleTitle h2 {
    color :orange !important;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

div.moduleTitle h2 a {
    color :orange !important;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

/*div.moduleTitle h2 a:hover{
    color :#08FCEC !important;
}*/

.subpanelTabForm h3{
    font-size: 14px;
}

#groupTabs li a{
   font-size: 14px;
}

h1,h2,h3,h4,h5,h6{font-weight:bold}
h1{font-size:3em}
h2{font-size:1.3em}
h3{font-size:1.25em}
h4{font-size:1.2em}
h5{font-size:1em}
h6{font-size:0.9em}

/*ten panel*/
div.detail h4, .edit h4{
    font-size: 1.3em !important;
    
}
/*ten ung vien*/
/*div.moduleTitle h2{
    font-size: 1.5em;
    color:#F90;
    font-weight: 700;
    text-transform: uppercase;
}*/
/*tieu de field*/
li {
    margin-left: 5px !important;
}

.search_form .view {
    background: -moz-linear-gradient(center top , #FFFFFF 0px, #F2F2F2 100%) repeat scroll 0 0 transparent !important;
    border-bottom: 1px solid #98C6EA;
    margin: 0;
    padding: 10px 0 10px 10px !important;
    text-shadow: 0 1px #FFFFFF;
    width: auto;
}